<!DOCTYPE html>
<html>

<head>
    <title>EIRBOT 2026</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">

    <script src="/static/js/common.js" defer></script>
    <script src="/static/js/index.js" defer></script>
</head>

<body class="mode-BLEUE">
    <div class="header">
        <div style="font-weight:900; font-size:1.5em;">EIRBOT</div>
        <div class="sys-info" id="sys-info">...</div>
    </div>

    <div class="dashboard">
        <div id="team-display" class="team-box">...</div>

        <div id="tirette-status" class="tirette-box status-non-armed">TIRETTE: NON ARMÉE</div>

        <div style="margin-top:15px; font-size:1.2em; color:#ccc;">
            STRATÉGIE
            <span id="strat-display" style="font-weight:bold; color:white; display:none;">#?</span>
            <select id="strat-select" class="strat-select" onchange="updateStrat(this.value)"
                style="display:none;"></select>
        </div>

        <div style="margin-top:10px; font-size:1.2em; color:#ccc;">
            ÉTAT <span id="fsm-display" class="badge">INIT</span>
        </div>

        <div style="margin-top:10px; color:#aaa;">SCORE</div>

        <div class="score-container">
            <button class="btn-arrow" onclick="adjustScore(-1)">▼</button>
            <div id="score" class="score-box">0</div>
            <button class="btn-arrow" onclick="adjustScore(1)">▲</button>
        </div>

        <div id="timer" class="timer-box">100.0</div>
    </div>

    <div class="controls">
        <button id="btn-start" class="btn-start" onclick="sendAction('start')">GO MATCH</button>
        <button id="btn-stop" class="btn-stop hidden" onclick="sendAction('stop')">STOP URGENCE</button>
        <button id="btn-reset" class="btn-reset hidden" onclick="sendAction('reset')">RESET MATCH</button>

        <button class="btn-team" onclick="sendAction('team')">CHANGE TEAM</button>

        <a href="/map" class="btn-nav" style="background:#009688;">🗺️ LIVE MAP</a>
        <a href="/debug" class="btn-nav">🛠️ DEBUG</a>
        <a href="/blockly" class="btn-nav" style="background:#673AB7;">🧩 STRAT STUDIO</a>
        <a href="/led_studio" class="btn-nav" style="background:#E91E63;">🎨 LED STUDIO</a>
    </div>
</body>

</html>