/* GLOBALS */
body {
    background-color: #101418;
    color: #E6EDF3;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 0.5vh solid #333;
    /* Relative border */
    transition: 0.5s;
    font-size: 2vh;
    /* Base font scaling */
}

/* HEADER */
.header {
    background: #1c2128;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
}

.sys-info {
    text-align: right;
    font-size: 0.8em;
    opacity: 0.8;
}

/* BOUTONS NAVIGATION & SYSTEME */
.btn-nav {
    background: #007bff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    padding: 20px;
    font-size: 1.2em;
    transition: 0.2s;
}

.btn-nav:hover {
    opacity: 0.9;
}

.btn-back {
    background: #444;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 0.9em;
}

.btn-tiny {
    background: #555;
    font-size: 0.8em;
    padding: 2px 8px;
    margin-left: 5px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.btn-sys {
    background: #607d8b;
    font-size: 0.9em;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

/* UTILS */
.hidden {
    display: none;
}

.card {
    background: #1c232b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* ANIMATION TEAM (BREATHING) */
.mode-BLEUE {
    border-color: #2196F3;
}

.mode-JAUNE {
    border-color: #FFEB3B;
}

body.breathing-BLEUE {
    animation: breathe-blue 2s infinite ease-in-out;
}

@keyframes breathe-blue {
    0% {
        background-color: #000;
        box-shadow: inset 0 0 20px #2196F3;
    }

    50% {
        background-color: #0D47A1;
        box-shadow: inset 0 0 100px #2196F3;
    }

    100% {
        background-color: #000;
        box-shadow: inset 0 0 20px #2196F3;
    }
}

body.breathing-JAUNE {
    animation: breathe-yellow 2s infinite ease-in-out;
}

@keyframes breathe-yellow {
    0% {
        background-color: #000;
        box-shadow: inset 0 0 20px #FFEB3B;
    }

    50% {
        background-color: #F57F17;
        box-shadow: inset 0 0 100px #FFEB3B;
    }

    100% {
        background-color: #000;
        box-shadow: inset 0 0 20px #FFEB3B;
    }
}

.strat-select {
    background: #333;
    color: white;
    border: 1px solid #555;
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    margin-left: 10px;
}